[submodule "ec-cube/data/downloads/plugin/WindowsAzureBlob/azure-sdk-for-php"]
	path = ec-cube/data/downloads/plugin/WindowsAzureBlob/azure-sdk-for-php
	url = git://github.com/WindowsAzure/azure-sdk-for-php.git
